[Unit]
Description=Node Exporter
Wants=network-online.target
After=network-online.target

[Service]
User=nobody
Group=nobody
Type=simple
ExecStart=/usr/local/bin/node_exporter --web.listen-address=:{{ monitoring.metrics_port }}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target