PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
LC_ALL="en_US.UTF-8"
LANG="en_US.UTF-8"
TZ="{{ timezone | default('UTC') }}"
APP_NAME="{{ app.name | default('delivery-tracker') }}"
ENVIRONMENT="{{ env_name | default('production') }}"